{% extends 'base.html' %}

{% block body %}
<div class="container">
<form action="" method="post">{% csrf_token %}
    <br>
    <input type="email" name="email" id="email" placeholder="Email"><br>
    <br>
    <input type="submit"value="Submit" id="btn">
</form>
</div>
<script >
    $(document).ready(function(){
        $("#btn").click(function(){
            var email = $("#email").val();
            if (email == '') {
                alert("Please fill all fields...!!!!!!");
            }
        });
      });
</script>
{% endblock  %}