{% extends 'base.html' %}

{% block body %}
<div class="container">
<h1>Welcome</h1>
<p>you can login here</p>
<h2>Login</h2>
<form action="" method="POST">{% csrf_token %}
    <br>
    <input name='username' id="username" placeholder="Username" type='text'><br>
    <br>
    <input name='password' id="password" type="password" placeholder="Enter-Password"><br>
    <br>
    <P>{{error}}</P>
    <input type="submit" value="Login" id="login">
    <div>
        Doesn't have an account? <a href="{% url 'signup' %}">signup</a>
    </div>
</form>
    
</div>
<script>
    $(document).ready(function() {
        $("#login").click(function(){
                var email = $("#email").val();
                var password = $("#password").val();
                if( email =='' || password ==''){
                alert("Please fill all fields...!!!!!!");
                } 
            });
        });
</script>

{% endblock  %}